<h1>All Studios</h1>

<% @studios.each do |studio| %>
  <h3><%= studio.name %></h3>
  <p><b>Location: <%= studio.location %></b></p>

  <% @movies.each do |movie| %>
  <p>Movie: <%= movie.title %></p>
  <% end %>
<% end %>
